<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>JOB.AZ - Vakansiya saytı</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link th:href="@{/img/favicon.ico}" rel="icon">

    <!-- Google Web Fonts -->
    <link th:href="@{https://fonts.googleapis.com}" rel="preconnect">
    <link th:href="@{https://fonts.gstatic.com}" crossorigin rel="preconnect">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap}"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css}" rel="stylesheet">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css}" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!--    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet"-->
    <!--          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
</head>

<body>
<div class="container-xxl bg-white p-0">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a th:href="@{/index}" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
            <h1 class="m-0 text-primary">JOB.AZ</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a th:href="@{/index}" class="nav-item nav-link active">Ana Səhifə</a>
                <a th:href="@{/companies}" class="nav-item nav-link">Şirkətlər</a>
                <a th:href="@{/jobs}" class="nav-item nav-link">Vakansiyalar</a>
                <a th:href="@{/about}" class="nav-item nav-link">Haqqımızda</a>
                <a th:href="@{/contact}" class="nav-item nav-link">Əlaqə</a>
                <a th:href="@{/register}" class="nav-item nav-link">Qeydiyyat</a>
            </div>

            <a th:href="@{/login}" class="btn btn-primary rounded-0 py-4 px-lg-4 d-none d-lg-block">Daxil Ol<i
                    class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Search Start -->
    <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
        <div class="container">
            <div class="row g-2">
                <div class="col-md-10">
                    <form th:action="@{/jobs/search}" method="get">
                        <div class="row g-2">
                            <div class="col-md-4">
                                <input name="query" type="search" class="form-control border-0"
                                       placeholder="Açar sözü daxil edin"/>
                            </div>
                            <div class="col-md-4">
                                <select class="form-select border-0">
                                    <option selected>Kateqoriyalar</option>
                                    <option value="1">IT & Development</option>
                                    <option value="2">Təhsil</option>
                                    <option value="3">Dizayn</option>
                                    <option value="4">Rəhbər vəzifələr</option>
                                    <option value="5">Marketinq və Satış</option>
                                    <option value="6">Maliyyə və Mühasibatlıq</option>
                                    <option value="7">Bank sahəsi</option>
                                    <option value="8">Xidmət</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select class="form-select border-0">
                                    <option selected>Bütün şəhərlər</option>
                                    <option value="Ağcabədi">Ağcabədi</option>
                                    <option value="Ağdam">Ağdam</option>
                                    <option value="Ağdaş">Ağdaş</option>
                                    <option value="Ağdərə">Ağdərə</option>
                                    <option value="Ağstafa">Ağstafa</option>
                                    <option value="Ağsu">Ağsu</option>
                                    <option value="Astara">Astara</option>
                                    <option value="Babək">Babək</option>
                                    <option value="Bakı">Bakı</option>
                                    <option value="Balakən">Balakən</option>
                                    <option value="Beyləqan">Beyləqan</option>
                                    <option value="Bərdə">Bərdə</option>
                                    <option value="Biləsuvar">Biləsuvar</option>
                                    <option value="Cəbrayıl">Cəbrayıl</option>
                                    <option value="Cəlilabad">Cəlilabad</option>
                                    <option value="Culfa">Culfa</option>
                                    <option value="Daşkəsən">Daşkəsən</option>
                                    <option value="Dəliməmmədli">Dəliməmmədli</option>
                                    <option value="Füzuli">Füzuli</option>
                                    <option value="Gədəbəy">Gədəbəy</option>
                                    <option value="Gəncə">Gəncə</option>
                                    <option value="Goranboy">Goranboy</option>
                                    <option value="Göyçay">Göyçay</option>
                                    <option value="Göygöl">Göygöl</option>
                                    <option value="Göytəpə">Göytəpə</option>
                                    <option value="Hacıqabul">Hacıqabul</option>
                                    <option value="Horadiz">Horadiz</option>
                                    <option value="Xaçmaz">Xaçmaz</option>
                                    <option value="Xankəndi">Xankəndi</option>
                                    <option value="Xocalı">Xocalı</option>
                                    <option value="Xocavənd">Xocavənd</option>
                                    <option value="Xırdalan">Xırdalan</option>
                                    <option value="Xızı">Xızı</option>
                                    <option value="Xudat">Xudat</option>
                                    <option value="İmişli">İmişli</option>
                                    <option value="İsmayıllı">İsmayıllı</option>
                                    <option value="Kəlbəcər">Kəlbəcər</option>
                                    <option value="Kürdəmir">Kürdəmir</option>
                                    <option value="Qax">Qax</option>
                                    <option value="Qazax">Qazax</option>
                                    <option value="Qəbələ">Qəbələ</option>
                                    <option value="Qobustan">Qobustan</option>
                                    <option value="Qovlar">Qovlar</option>
                                    <option value="Quba">Quba</option>
                                    <option value="Qubadlı">Qubadlı</option>
                                    <option value="Qusar">Qusar</option>
                                    <option value="Laçın">Laçın</option>
                                    <option value="Lerik">Lerik</option>
                                    <option value="Lənkəran">Lənkəran</option>
                                    <option value="Liman">Liman</option>
                                    <option value="Masallı">Masallı</option>
                                    <option value="Mingəçevir">Mingəçevir</option>
                                    <option value="Naftalan">Naftalan</option>
                                    <option value="Naxçıvan">Naxçıvan</option>
                                    <option value="Neftçala">Neftçala</option>
                                    <option value="Oğuz">Oğuz</option>
                                    <option value="Ordubad">Ordubad</option>
                                    <option value="Saatlı">Saatlı</option>
                                    <option value="Sabirabad">Sabirabad</option>
                                    <option value="Salyan">Salyan</option>
                                    <option value="Samux">Samux</option>
                                    <option value="Siyəzən">Siyəzən</option>
                                    <option value="Sumqayıt">Sumqayıt</option>
                                    <option value="Şabran">Şabran</option>
                                    <option value="Şahbuz">Şahbuz</option>
                                    <option value="Şamaxı">Şamaxı</option>
                                    <option value="Şəki">Şəki</option>
                                    <option value="Şəmkir">Şəmkir</option>
                                    <option value="Şərur">Şərur</option>
                                    <option value="Şirvan">Şirvan</option>
                                    <option value="Şuşa">Şuşa</option>
                                    <option value="Tərtər">Tərtər</option>
                                    <option value="Tovuz">Tovuz</option>
                                    <option value="Ucar">Ucar</option>
                                    <option value="Yardımlı">Yardımlı</option>
                                    <option value="Yevlax">Yevlax</option>
                                    <option value="Zaqatala">Zaqatala</option>
                                    <option value="Zəngilan">Zəngilan</option>
                                    <option value="Zərdab">Zərdab</option>
                                </select>
                            </div>
                        </div>
                </div>

                <div class="col-md-2">
                    <button class="btn btn-dark border-0 w-100">Axtar</button>
                </div>
                </form>

            </div>
        </div>

    </div>

    <!-- Search End -->


    <!-- Category Start -->
    <div class="container-xxl py-5">

        <div class="container">
            <!-- <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Kateqoriyalar</h1> -->
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item rounded p-4" th:href="@{/}">
                        <i class="fa fa-3x fa-laptop text-primary mb-4"></i>
                        <h6 class="mb-3">IT & Development </h6>
                        <p class="mb-0">123 Vacancy</p>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a class="cat-item rounded p-4" th:href="@{/}">
                        <i class="fa fa-3x fa-book text-primary mb-4"></i>
                        <h6 class="mb-3">Təhsil</h6>
                        <p class="mb-0">123 Vacancy</p>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item rounded p-4" th:href="@{/}">
                        <i class="fa fa-3x fa-palette text-primary mb-4"></i>
                        <h6 class="mb-3">Dizayn</h6>
                        <p class="mb-0">123 Vacancy</p>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item rounded p-4" th:href="@{/}">
                        <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                        <h6 class="mb-3">Rəhbər vəzifələr</h6>
                        <p class="mb-0">123 Vacancy</p>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item rounded p-4" th:href="@{/}">
                        <i class="fa fa-3x fa-bullhorn text-primary mb-4"></i>
                        <h6 class="mb-3">Marketinq & Satış</h6>
                        <p class="mb-0">123 Vacancy</p>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a class="cat-item rounded p-4" th:href="@{/}">
                        <i class="fa fa-3x fa-wallet text-primary mb-4"></i>
                        <h6 class="mb-3">Maliyyə & Mühasibatlıq</h6>
                        <p class="mb-0">123 Vacancy</p>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item rounded p-4" th:href="@{/}">
                        <i class="fa fa-3x fa-university text-primary mb-4"></i>
                        <h6 class="mb-3">Bank sahəsi</h6>
                        <p class="mb-0">123 Vacancy</p>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item rounded p-4" th:href="@{/}">
                        <i class="fa fa-3x fa-handshake text-primary mb-4"></i>
                        <h6 class="mb-3">Xidmət</h6>
                        <p class="mb-0">123 Vacancy</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Category End -->

    <!-- Jobs Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Yeni vakansiyalar</h1>
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">

                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">

                        <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid border rounded" th:src="@{img/com-logo-2.jpg}"
                                         alt="" style="width: 80px; height: 80px;">
                                    <div class="text-start ps-4">
                                        <h5 class="mb-3">Junior Java Developer</h5>
                                        <span class="text-truncate me-3"><i
                                                class="fa fa-map-marker-alt text-primary me-2"></i>Azerbaijan,Sumgait</span>
                                        <span class="text-truncate me-3"><i
                                                class="far fa-clock text-primary me-2"></i>Full Time</span>
                                        <span class="text-truncate me-0"><i
                                                class="far fa-money-bill-alt text-primary me-2"></i>$123 -
                                                $456</span>
                                    </div>
                                </div>
                                <div
                                        class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">
                                        <a class="btn btn-light btn-square me-3" th:href="@{/}"><i
                                                class="far fa-heart text-primary"></i></a>
                                        <!--                                        <a class="btn btn-primary"-->
                                        <!--                                           th:href="@{/jobs/{jobId}(jobId=${job.id})}">Ətraflı"</a>-->
                                    </div>
                                    <small class="text-truncate"><i
                                            class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan,
                                        2045</small>
                                </div>
                            </div>
                        </div>

                        <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid border rounded" th:src="@{img/com-logo-4.jpg}"
                                         alt="" style="width: 80px; height: 80px;">
                                    <div class="text-start ps-4">
                                        <h5 class="mb-3">Creative Director</h5>
                                        <span class="text-truncate me-3"><i
                                                class="fa fa-map-marker-alt text-primary me-2"></i>Azerbaijan,Baku</span>
                                        <span class="text-truncate me-3"><i
                                                class="far fa-clock text-primary me-2"></i>Full Time</span>
                                        <span class="text-truncate me-0"><i
                                                class="far fa-money-bill-alt text-primary me-2"></i>$123 -
                                                $456</span>
                                    </div>
                                </div>
                                <div
                                        class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">
                                        <a class="btn btn-light btn-square me-3" th:href="@{/}"><i
                                                class="far fa-heart text-primary"></i></a>
                                        <a class="btn btn-primary" th:href="@{/}">Müraciət et</a>
                                    </div>
                                    <small class="text-truncate"><i
                                            class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan,
                                        2045</small>
                                </div>
                            </div>
                        </div>

                        <a class="btn btn-primary py-3 px-5" th:href="@{/}">Daha çox</a>
                    </div>
                    <div id="tab-2" class="tab-pane fade show p-0">

                        <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid border rounded" th:src="@{img/com-logo-5.jpg}"
                                         alt="" style="width: 80px; height: 80px;">
                                    <div class="text-start ps-4">
                                        <h5 class="mb-3">Wordpress Developer</h5>
                                        <span class="text-truncate me-3"><i
                                                class="fa fa-map-marker-alt text-primary me-2"></i>Rewa,
                                                INDIA</span>
                                        <span class="text-truncate me-3"><i
                                                class="far fa-clock text-primary me-2"></i>Full Time</span>
                                        <span class="text-truncate me-0"><i
                                                class="far fa-money-bill-alt text-primary me-2"></i>$123 -
                                                $456</span>
                                    </div>
                                </div>
                                <div
                                        class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">
                                        <a class="btn btn-light btn-square me-3" th:href="@{/}"><i
                                                class="far fa-heart text-primary"></i></a>
                                        <a class="btn btn-primary" th:href="@{/}">Müraciət et</a>
                                    </div>
                                    <small class="text-truncate"><i
                                            class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan,
                                        2045</small>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary py-3 px-5" th:href="@{/}">Browse More Jobs</a>
                    </div>
                    <div id="tab-3" class="tab-pane fade show p-0">
                        <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid border rounded" th:src="@{img/com-logo-1.jpg}"
                                         alt="" style="width: 80px; height: 80px;">
                                    <div class="text-start ps-4">
                                        <h5 class="mb-3">Software Engineer</h5>
                                        <span class="text-truncate me-3"><i
                                                class="fa fa-map-marker-alt text-primary me-2"></i>Rewa,
                                                INDIA</span>
                                        <span class="text-truncate me-3"><i
                                                class="far fa-clock text-primary me-2"></i>Full Time</span>
                                        <span class="text-truncate me-0"><i
                                                class="far fa-money-bill-alt text-primary me-2"></i>$123 -
                                                $456</span>
                                    </div>
                                </div>
                                <div
                                        class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">
                                        <a class="btn btn-light btn-square me-3" th:href="@{/}"><i
                                                class="far fa-heart text-primary"></i></a>
                                        <a class="btn btn-primary" th:href="@{/}">Apply Now</a>
                                    </div>
                                    <small class="text-truncate"><i
                                            class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan,
                                        2045</small>
                                </div>
                            </div>
                        </div>


                        <a class="btn btn-primary py-3 px-5" th:href="@{/}">Browse More Jobs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jobs End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="copyright">
            &copy; <a class="border-bottom" th:href="@{/}">JOB.AZ</a> , Bütün hüquqlar qorunur
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a th:href="@{/}" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script th:src="@{https://code.jquery.com/jquery-3.7.0.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>

<!--Template Javascript -->
<script th:src="@{/js/main.js}"></script>
</body>

</html>